* {
    box-sizing: border-box;
    
}

.AboutUsContent{ 
  background-color: #A67084;
  justify-content: center;
  
}

.AboutUs {
    background-color: #A67084;
    
}
  
  .AboutUs h1{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    margin-top: -15px;
  }

  .AboutUs p{
  font-style: normal;
  font-weight: 350;
  font-size: 45px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  }

  .AboutUs img{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Cyclist img{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .DirectorsStudentContainer {
    width: auto;
    height: auto;
    position: relative;
}



.DirectorsStudentContainer::before{
  content: "";
  background-image: url("./img/Logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.DirectorsHeading {
  padding: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  isolation: isolate;
}

.GridStyle{
  text-align: center;
}

.DirectorsMembers {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: auto;
  isolation: isolate;
}

.GridDirectors h2 {
  padding-top: 20px;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

.StudentHeading {
  padding: 20px;
  color: #ffffff;
  font-size: 30px;
  isolation: isolate;
}



.StudentMembers {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  isolation: isolate;
}

.GridStudents h2 {
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}
