* {
    box-sizing: border-box;
    
}

.CommunityContent{
  background-color: #3A0F4A;
  position: relative;
}

.CommunityContent::before{
  content: "";
  background-image: url("./img/mountain.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.CommunityContent h1{
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    line-height: 190px;
    isolation: isolate;
}

.CommunityContent h2{
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  line-height: 190px;
  margin-top: 50px;
  isolation: isolate;
}

.CommunityContent h3{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: -30px;
  isolation: isolate;
}

.StatsGrid{
    font-size: 35px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.StatsGridObject{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.StatsGridObject h1{
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
}

.StatsGridObject h2{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-top: -130px;
}

.CommunityContent p {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
 text-align: center;
  color: #ffffff;
  line-height: 120px;
  isolation: isolate;
}

.Buttons1 {
  display:flex;
  justify-content: center;
  color: #ffffff;
  border-radius: 10;
}

.Buttons1Spacing{
  margin-right: 10%
}


.Buttons2 {
  display:flex;
  justify-content: center;
  color: #ffffff;
  border-radius: 10;
  margin-top: 200px;
}

.Buttons2Spacing{
  margin-right: 50%;
}


.Buttons3 {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.Button4 {
  margin-left: 100px;
  margin-top: 60px;
}

.CommunityContent2 {
  background-image: linear-gradient(#561F4D, #390F4A );
  height: auto;
  padding: 200px;
}

.CommunityContent2 h1{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-align: right;
  line-height: 190px;
  margin-right: 20%;
}

.CommunityContent2 h2{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-align: left;
  margin-top: 100px;
  margin-left: 8%;
}

.Graphic img{
  float: right;
  margin-right: 10%;
  width: 60vh;
  
}