 * {
    margin: 0;
    padding: 0;
}

.HomeContent {
    background-image: linear-gradient(#AB5AA1, #7D2B90);
    
}

.HomeContent h1 {
    font-style: normal;
    font-weight: 650;
    font-size: 70px;
    color: #ffffff;
    text-align: left;
    margin-left: 50px;
    position: relative;
    line-height: 200px;
    display: flex;
}

.HomeContent img {
    width: 30vh;
    margin-left: auto;
}

.HomeContent h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    text-align: left;
    margin-left: 50px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.HomeContent h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 100px;
    
}

.HomeBackgroundSunset {
    background-image: url("./img/cyclesunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1280px;
}

.HomeProjectGrid {
    font-size: 35px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.HomeProjectObject {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 350px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: block
}

.HomeProjectObject p{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    
}

.HomeProjectObject img{
    width: 200px;
    
}


.HomeProjectsContent h4{
    font-style: normal;
    font-weight: 650;
    font-size: 60px;
    color: #ffffff;
    text-align: left;
    margin-left: 30px;
}

.HomeProjectsContent p{
    font-style: normal;
    font-weight: 650;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    margin-left: 30px;
    
}
.MissionBackground{
    background-image: url("./img/mission.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.VisionBackground{
    background-image: url("./img/vision.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.GoalsBackground{
    background-image: url("./img/goals.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.Footer{ 
    background-color: #424040;
}
  
.FooterContent h1{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
  
.FooterContent h2{
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    
}
  
.SocialImg{
    
    text-align: center;
    font-size: 27px;
    font-weight: 800px;
    margin-bottom: 20px;
}
  
.SocialImg img{
    width: 35px;
    height: 35px;
    vertical-align:text-top
}