@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .TextField {
    color: rgb(255, 255, 255);
  }
}

.login-component-img {
  position: relative;
  width: 100%;
  height: 110vh;
}

.login-component {
  position: absolute;
  text-align: center;
  color: white;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.Login-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.signUpInputs {
  padding-bottom: 20px;
}

.Login-input,
textarea {
  width: 160%;
  background-color: #fffdfd;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 8px;
  font-size: 30px;
}

textarea {
  height: 15vh;
}

.footer-container {
  background-color: #834c8c;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 350px;
  /*padding-top: 100px;*/
}

.footer-logo {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
}

.socials-logo {
  padding-left: 30px;
  font-size: 32px;
  color: white;
}
.socials-logo #lkd {
  width: 70px;
  height: auto;
  /*margin-top: 60px;*/
  margin-left: 20px;
}
.socials-logo #lg {
  width: 70px;
  height: auto;
  /*margin-top: 60px;*/
  margin-left: 30px;
}
.socials-logo #twt {
  width: 70px;
  height: auto;
  /*margin-top: 60px;*/
  margin-left: 0px;
}
.socials-logo p {
  margin-top: 10px;
}

.footer-msg {
  color: rgb(0, 0, 0);
  text-align: center;
  /*margin-top: 80px;*/
  margin-bottom: 0;
  padding-right: 100px;
  padding-left: 100px;
}

@media only screen and (max-width: 1200px) {
  .icon-grid {
    column-gap: auto;
    height: auto;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 300px);
  }
}
