* {
   
}

.ExerciseBackground {
    background-image: linear-gradient(#642850, #380E4A);
}

.ExerciseTitleContent {
    background-image: url("./img/OlympicRings.jpg");
    background-size: cover;
    height: 1000px;
}

.ExerciseTitleContent h1{
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    
}

.IconGrid {
    font-size: 35px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-color: #e87461;
}

.IconObject {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.ExerciseContent {
    height: auto;
}

.RunningContainer {
    background-image: url("./img/running2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-top:  200px;
    display: block;
}

.RunningContainer h1 {
    font-style: normal;
    font-weight: 750;
    font-size: 85px;
    color: #ffffff;
    text-align: left;
    margin-left: 25px;
}

.RunningContainer p {
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    color: #ffffff;
    text-align: right;
    margin-right: 25px;
    
}

.YogaContainer {
    background-image: url("./img/yoga2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-top: 100px;
    display: block;
}

.YogaContainer h1 {
    font-style: normal;
    font-weight: 750;
    font-size: 85px;
    color: #ffffff;
    text-align: left;
    margin-left: 25px;
}

.YogaContainer p {
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    color: #ffffff;
    text-align: right;
    margin-right: 25px;
    
}

.CyclingContainer {
    background-image: url("./img/cycling2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-top: 100px;
    display: block;
}

.CyclingContainer h1 {
    font-style: normal;
    font-weight: 750;
    font-size: 85px;
    color: #ffffff;
    text-align: left;
    margin-left: 25px;
}

.CyclingContainer p {
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    color: #ffffff;
    text-align: right;
    margin-right: 25px;
}

.E-SportsContainer {
    background-image: url("./img/esports2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-top: 100px;
    display: block;
}

.E-SportsContainer h1 {
    font-style: normal;
    font-weight: 750;
    font-size: 85px;
    color: #ffffff;
    text-align: left;
    margin-left: 25px;
}

.E-SportsContainer p {
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    color: #ffffff;
    text-align: right;
    margin-right: 25px;
}

.ProjectsTitle h1{
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    margin-top: 250px;
}

.ProjectGrid {
    font-size: 35px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
}

.ProjectObject {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ProjectObject h1{
    font-style: normal;
    font-weight: 750;
    font-size: 40px;
    
}

.ProjectObject p{
    font-style: normal;
    font-weight: 450;
    font-size: 35px;
    
    
}

.ProjectObject img{
    width: 90%;
    
}

