* {
   
}

.TutorialContent {
    background-color: #380E4A;
    padding-bottom: 100px;
}

.TutorialContent img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.TutorialContent h1{
    color: #FF6C19;
    text-align: center;
    line-height: 220px;
    font-size: 60px;
    font-weight: 700;
}

.TutorialContent2 {
    background-color: white;
}

.BecomeMember{
    display: block;
    
}

.BecomeMember h1{
    color: #FF6C19;
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    margin-left: 25px;
}

.BecomeMember p{
    color: #FF6C19;
    font-size: 30px;
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 25px;
}

.BecomeMember img{
    width: 45%;
}

.JoinProject{
    display: block;
    margin-top: 25px;
}

.JoinProject h1{
    color: #FF6C19;
    text-align: right;
    font-size: 60px;
    font-weight: 700;
    margin-right: 25px;
}

.JoinProject p{
    color: #FF6C19;
    font-size: 30px;
    display: flex;
    text-align: left;
    align-items: center;
    margin-right: 25px;
}

.JoinProject img{
    width: 45%;
    margin-right: 25px;
}

.BuyProduct{
    display: block;
    margin-top: 25px;
}

.BuyProduct h1{
    color: #FF6C19;
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    margin-left: 25px;
}

.BuyProduct p{
    color: #FF6C19;
    font-size: 30px;
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 25px;
}

.BuyProduct img{
    width: 45%;
}
  