* {
  padding: 0;
  margin: 0;
}
.navbarstyle{

 display: grid;
 margin-left: 5px!important;
 margin-right: 10px!important;
 background-color: #e87461 !important;
 border-radius: 10px;
 text-align: center;
 vertical-align: middle;
 font-family: 'Roboto', sans-serif;
 width: 150px;
 height: 75px;
 font-size: 2em;
}
.navbarstyle:hover{

  display: grid;
  margin-left: 5px!important;
  margin-right: 10px!important;
  background-color: #834c8c !important;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: small!important;
  vertical-align: middle;
  width: 150px;
  height: 75px;
  font-size: 2em;
 }