* {
  padding: 0;
  margin: 0;
}
.navbarstyle{
 /*border-radius: 10;
 padding: "18px 36px";
 font-size: "1vw";
 background-color: #e87461;*/
 display: grid;
 margin: 5px;
 background-color: #e87461 !important;
 border-radius: 10px;
 text-align: center;
 vertical-align: middle;
 width: 200px;
 height: 40px;
 font-size: 2em;
}